.Scroll {
    display: flex;
    justify-content: center;
    flex-direction: row nowrap;
    width:80%;
    height:400px;
    overflow-x:hidden;
    overflow-y:auto;
    background: transparent;
    margin-top:10px
}