.NavCont {
    width:100%;
    
    display: flex;
    justify-content: center;
    background: linear-gradient(to left, #d7d2cc, #304352);
}
nav {
    display:flex;
    justify-content:flex-start;
    align-items: center;
    font-family: 'SEGA LOGO FONT';
    color:#ff000f;
    width:70%;
}
