h1 {
  font-family: 'SEGA LOGO FONT';
  color:#ff000f
}
ul {
  width:100%

}

.App {
  text-align: center;
  z-index: -1;
  display:flex;
  align-items: center;
  justify-content: center;
  height:100vh;
}
.Signin {
  z-index:-1 ;
}

.Logo{
  display:inline
}

.App-header {
  border:1px solid black;
  height: 350px;
  padding: 20px;
  color: white;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  overflow: visible;

}

.particles {
  position:fixed;
  top:0;
  right:0;
  bottom: 0;
  left:0;
  z-index:-1;
}


@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
  }