h1, h2 {
  font-family: 'SEGA LOGO FONT';
  color:#ff000f
}

.App {
  text-align: center;
}
.ScrollMain {
  width:100%;
  display: flex;
  justify-content: center;

}
.center{
display:flex;
justify-content: center;
}

.particles {
  position:fixed;
  top:0;
  right:0;
  bottom: 0;
  left:0;
  z-index:-1;
}

@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
  }